- hosts: all
  become: true

  tasks:
    - name: Install basic developer tools (Ubuntu)
      apt:
        name:
          - git
          - docker.io
          - python3
        state: present
        update_cache: yes

    - name: Enable Docker
      service:
        name: docker
        state: started
        enabled: true
